<div class="row py-4">
    <div class="col-md-12 py-3">
        <h3 class="text-center">Libreta de Contactos</h3>
    </div>
    <div class="col-md-4 mx-4">
        <div class="input-group mb-3">
            <input 
              type="text" 
              class="form-control" 
              [formControl]="inputControl"
              placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-10 mx-4">
        <div >
            <table class="table" style="max-width: 100%;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nota</th>
                    <th scope="col">cumpleaños</th>
                    <th scope="col">pagina web</th>
                    <th scope="col">Trabajo</th>
                    <th scope="col">opciones</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12px;">
                    <tr *ngFor="let dato of datos">
                        <th>{{dato.id}}</th>
                        <td>{{ dato.name }}</td>
                        <td><p>{{ dato.note }}</p></td>
                        <td>{{ dato.birthday }}</td>
                        <td>{{ dato.page }}</td>
                        <td>{{ dato.work }}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary mx-1 my-1" (click)="viewContactDetail(dato.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Contacto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                  </svg>
                            </button>
                            <button class="btn btn-sm btn-success mx-1 my-1"  (click)="createContact()" data-bs-toggle="tooltip" data-bs-placement="top" title="Crear Contacto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                  </svg>
                            </button>
                            <button class="btn btn-sm btn-warning mx-1 my-1"  (click)="updateContact(dato.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar Contacto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-exclamation" viewBox="0 0 16 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                  </svg>
                            </button>
                            <button class="btn btn-sm btn-danger mx-1 my-1"  (click)="deleteContact(dato.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar Contacto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                  </svg>
                            </button>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <button class="btn btn-secondary" (click)="before()" [disabled]="page === 1">Anterior</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <button class="btn btn-secondary" (click)="next()" [disabled]="page === total">Siguiente</button>
    </div>
</div>
