<div class="row py-4">
    <div class="col-md-12 py-3">
        <h3 class="text-center">Libreta de Contactos</h3>
    </div>
    <div class="col-md-4 mx-4">
        <div class="input-group mb-3">
            <input 
              type="text" 
              class="form-control" 
              [formControl]="inputControl"
              placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-10 mx-4">
        <div >
            <table class="table" style="max-width: 100%;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nota</th>
                    <th scope="col">cumpleaños</th>
                    <th scope="col">pagina web</th>
                    <th scope="col">Trabajo</th>
                    <th scope="col">opciones</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12px;">
                    <tr *ngFor="let dato of datos">
                        <th>{{dato.id}}</th>
                        <td>{{ dato.name }}</td>
                        <td><p>{{ dato.note }}</p></td>
                        <td>{{ dato.birthday }}</td>
                        <td>{{ dato.page }}</td>
                        <td>{{ dato.work }}</td>
                        <td>
                            <button (click)="viewDetail(dato.id)">Ver</button>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <button class="btn btn-secondary" (click)="anterior()" [disabled]="page === 1">Anterior</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <button class="btn btn-secondary" (click)="siguiente()" [disabled]="page === total">Siguiente</button>
    </div>
</div>
