<div class="row">
    <div class="col-md-12 py-3">
        <h3 class="text-center">Libreta de Contactos</h3>
    </div>
    <div class="col-md-4 mx-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-12 mx-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nota</th>
                <th scope="col">cumpleaños</th>
                <th scope="col">pagina web</th>
                <th scope="col">Trabajo</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>
</div>
